# subdirectories
.cache/
.dotfiles/
.local/
.npm/
.pylint.d/
.mitmproxy/
.ipython/
.pki/
.vscode-server/
.vim/undodir/
.vim/plugged/
go/
.config/chromium/
.ssh
.v8*
installs/
.cargo/
.poetry/
.pyenv/
.rustup/
.yarn/
**/update-notifier-*
.config/vscode-sqltools/*

# personal folders
school/
work/
yay/

# junk
.viminf*
.fehbg
.pulse-cookie
*.jpg
*.png

# history
.psql_history
.units_history
.lesshst
.wget-hsts
.python_history*
.bash_history
.zsh_history
.tig_history

# very secret stuff
.Xauthority
.aws
.gnupg/
.esd_auth
.gitconfig
.password-store*
.password-store*/*
random.dat
.doppler/
.config/gcloud/

# symlinks
winhome
.azure
.boto
